@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  padding: 0 40px;
  background-color: #2b3743;
  color: #ffffff;
  height: 50px;
  align-items: center;
  box-shadow: 0 0 0.1rem 0px black;
  font-size: 20px;
}
.back-btn {
  display: flex;
  padding: 0 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  background-color: #2b3743;
  color: #ffffff;
  margin: 30px 160px;
  height: 27px;
  width: 90px;
  box-shadow: 0 0 0.1rem 0px black;
  border: none;
}
.back-arrow {
  height: 20px;
}
.search-container {
  padding: 10px 160px;
}
.newPageSearch {
  width: 190px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  height: 25px;
  padding-left: 10px;
  background-color: #2b3743;
  color: #ffffff;
}
.find-btn {
  height: 25px;
  border-radius: 0px 20px 20px 0;
  border: none;
  width: 50px;
  background-color: #2b3743;
  color: #ffffff;
}
.search-btn:hover {
  background-color: teal;
  transition: all 0.3s;
}
.country-details-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 60px 160px;
  color: #ffffff;
}
.flag-img {
  height: 200px;
}
.country-info-container {
  width: 500px;
}
.country-detail {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.border-country {
  padding: 20px 0;
}
@media only screen and (max-width: 900px) {
  .country-details-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
  }

  .country-info-container {
    width: 100%;
    margin-top: 20px;
  }

  .flag-img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 16px;
    padding: 0 20px;
  }

  .back-btn {
    margin: 20px auto;
  }

  .search-container {
    padding: 10px 20px;
    text-align: center;
  }

  .newPageSearch {
    width: 150px;
  }
}

